{% extends 'base.html' %}

{% block content %}
<!-- Form to upload an image -->

<div class="d-flex align-items-center justify-content-center mt-5">
    <form class="mb-5 card" style="width: 600px" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div onclick="triggerFileUpload()" role="button" id="choose-first-image" class="bg-light p-5 text-center" style="height: 300px; border: 2px dashed #337ab7; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <div>
                    <i class="fas fa-image fa-3x"></i>
                </div>
                <div>Select an image now</div>
            </div>
            
            
            
            <div class="swiper-container" id="swiperContainer" style="display: none;">
                <div for="imageUpload" class="swiper-wrapper" id="swiperWrapper">
                    <!-- Dynamic image slides will be added here -->
                </div>
                <input type="file" name="file" id="imageUpload" class="form-control-file" accept="image/*" style="display: none;" onchange="loadImage(event)" required />

                <div class="swiper-pagination" style="left: 45%; width: 50px;"></div>

                <!-- Navigation buttons -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="card-footer" id="imagePreviewFooter" style="display: none;">
            {% if not user.is_authenticated %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Notice:</strong> Creating an account on our website allows you to access more of our conversion services with higher quality and additional features! 
                <a href="{% url 'register' %}" class="alert-link">Sign up today</a> to enhance your experience.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>        
            {% endif %}
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary">Upload</button>
            {% else %}
                <button type="button" class="btn btn-primary" onclick="downloadAllImages()">Download All as ZIP</button>
            {% endif %}
            <button type="button" class="btn btn-warning" id="changeImageButton" style="display: none;" onclick="triggerFileUpload()">Change Image</button>
        </div>
    </form>
</div>

<style>
    .swiper-container {
        width: 100%;
        height: 600px;
        background-color: #6c757d;
        overflow: hidden;
        position: relative;
        margin: auto;
        cursor: pointer;
    }

    .input-value {
        border: none;
        border-bottom: 2px solid #337ab7;
    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
    }

    .swiper-slide img {
        max-width: 100%;
        max-height: 80%;
        object-fit: contain;
        margin: auto;
    }

    .swiper-button-next, .swiper-button-prev {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 30px 20px;
        z-index: 10;
    }

    .swiper-button-next:hover, .swiper-button-prev:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .download-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        margin: 10px;
        text-decoration: none;
    }

    .swiper-slide h5 {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px;
        border-radius: 4px;
    }
</style>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script>
    let swiper;
    const imageSrcs = [];
    const imageDimensions = [];

    document.addEventListener('DOMContentLoaded', function () {
        swiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        document.querySelector('form').addEventListener('reset', function () {
            document.getElementById('swiperWrapper').innerHTML = '';
            imageSrcs.length = 0;
            imageDimensions.length = 0;
            swiper.update();
            document.getElementById('swiperContainer').style.display = 'none'; // Hide the swiper container
        });
    });

    function triggerFileUpload() {
        document.getElementById('imageUpload').click();
    }

    function loadImage(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imgElement = new Image();
                imgElement.src = e.target.result;
                imgElement.onload = function() {
                    addImageSlides(imgElement.src);
                };
            };
            reader.readAsDataURL(file);
        }
    }

    function addImageSlides(imgSrc) {
        document.getElementById('swiperWrapper').innerHTML = ''; // Clear previous slides
        document.getElementById('swiperContainer').style.display = 'block'; // Show swiper container
        document.getElementById('imagePreviewFooter').style.display = 'block'; // Show footer
        document.getElementById('changeImageButton').style.display = 'inline-block'; // Show change image button
        document.getElementById('choose-first-image').style.display = 'none'; // hide choose image section
        const sizes = [
            { id: 'mobile', label: 'Mobile', width: {{ mobile_width }}, height: {{ mobile_height }} },
            { id: 'tablet', label: 'Tablet', width: {{ tablet_width }}, height: {{ tablet_height }} },
            { id: 'desktop', label: 'Desktop', width: {{ desktop_width }}, height: {{ desktop_height }} }
        ];

        sizes.forEach((size, i) => {
            const slide = document.createElement('div');
            slide.classList.add('swiper-slide');

            const img = document.createElement('img');
            img.src = imgSrc;
            img.id = 'image' + (i + 1);
            img.style.width = size.width + 'px';
            img.style.height = size.height + 'px';

            imageSrcs.push(imgSrc);
            imageDimensions.push({ width: size.width, height: size.height });

            const label = document.createElement('h5');
            label.innerText = size.label;

            const download = document.createElement('a');
            download.innerText = 'Download';
            download.className = 'download-button';
            download.onclick = () => downloadImageAtSize(imgSrc, size.width, size.height);

            const controls = document.createElement('div');
            controls.innerHTML = `
                <div class="controls bg-light w-100 p-2">
                <div class="d-flex justify-content-between bg-light">
                    <div>
                        <label for="width${i + 1}">Width (px):</label>
                        <div class="d-flex">
                            <input type="range" id="rangeWidth${i + 1}" value="${size.width}" min="10" max="600" oninput="updateImageSize('image${i + 1}', 'width', this.value); document.getElementById('width${i + 1}').value = this.value;" />
                            <input type="number" class="input-value" id="width${i + 1}" value="${size.width}" min="10" oninput="updateImageSize('image${i + 1}', 'width', this.value);" />
                        </div>
                    </div>
                    <div>
                        <label for="height${i + 1}">Height (px):</label>
                        <div class="d-flex">
                            <input type="range" id="rangeHeight${i + 1}" value="${size.height}" min="10" max="600" oninput="updateImageSize('image${i + 1}', 'height', this.value); document.getElementById('height${i + 1}').value = this.value;" />
                            <input type="number" class="input-value" id="height${i + 1}" value="${size.height}" min="10" oninput="updateImageSize('image${i + 1}', 'height', this.value);" />
                        </div>
                    </div>
                </div>
            </div>`;

            controls.style.width = '100%';
            slide.appendChild(label);
            slide.appendChild(img);
            slide.appendChild(download);
            slide.appendChild(controls);
            document.getElementById('swiperWrapper').appendChild(slide);
        });

        swiper.update(); // Refresh swiper with new slides
    }

    function updateImageSize(imgId, dimension, value) {
        const img = document.getElementById(imgId);
        if (dimension === 'width') {
            img.style.width = value + 'px';
        } else if (dimension === 'height') {
            img.style.height = value + 'px';
        }
    }

    function downloadImageAtSize(imgSrc, width, height) {
        const img = new Image();
        img.src = imgSrc;

        img.onload = function() {
            const canvas = document.createElement('canvas');
            canvas.width = width;
            canvas.height = height;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0, width, height);
            const resizedImageUrl = canvas.toDataURL('image/png');

            const link = document.createElement('a');
            link.href = resizedImageUrl;
            link.download = `image_${width}x${height}.png`;
            link.click();
        };
    }

    function downloadAllImages() {
        const zip = new JSZip();
        const folder = zip.folder("images");

        imageSrcs.forEach((src, index) => {
            const img = new Image();
            img.src = src;

            img.onload = function() {
                const canvas = document.createElement('canvas');
                const width = imageDimensions[index].width;
                const height = imageDimensions[index].height;

                canvas.width = width;
                canvas.height = height;
                const ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 0, width, height);

                canvas.toBlob(function(blob) {
                    folder.file(`image_${width}x${height}_${index + 1}.png`, blob);
                    if (index === imageSrcs.length - 1) {
                        zip.generateAsync({ type: "blob" }).then(function(content) {
                            saveAs(content, "images.zip");
                        });
                    }
                });
            };
        });
    }
</script>
{% endblock %}
